h1, h2 {
  color: #134542;
  margin: 16px 0;
}

.gallery {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.gallery h1 {
  margin: 8px 0 24px 0;
  font-size: 24px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
}

.company-image {
  padding: 16px;
  border-radius: 8px;
  max-width: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
