body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
}

nav ul li {
  margin-left: 1%;
  display: inline;
  margin-right: auto;
}
header h1 {
  margin: 0;
  color: #134542;
  margin-left: 9%;
}

nav ul li a {
  text-decoration: none;
  color: #134542;
  padding: 10px;
  font-weight: bold;
}
footer {
  background-color: #20c7ad;
  padding: 10px;
  border: 2px solid black;
}
nav ul li a:hover {
  color: #20c7ad;
}
header img {
  width: 7%;
  float: left;
}
.faq {
  color: #20c7ad;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-column {
  flex: 1;
  margin: 20px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 5px 0;
}
.footer-column ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  justify-items: right;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}
.social-icons ul {
  list-style-type: none;
  justify-items: right;
}
.social-icons ul li {
  display: inline;
  margin-right: 5%;
}
.social-icons ul li img {
  width: 12%;
}
.footer-bottom {
  text-align: center;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.faq {
  width: 90%;
  max-width: 800px;
  margin: 0.5% auto 0.5% auto;
  background-color: #e6ecea;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid #134542;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.faq-item:last-child {
  border-bottom: none;
}

.question {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  background-color: #134542;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  transition: background-color 3s;
}

.question:hover {
  background-color: #20c7ad;
}

.question i {
  margin-right: 10px;
}

.answer {
  display: none;
  padding: 10px;
  border: 2px solid #134542;
  border-top: none;
  border-radius: 0 0 4px 4px;
  animation: fadeIn 4s;
  color: #134542;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
