body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
}

header {
    background-color: #e6ecea;
    padding: 0 16px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    width: 100%;
    gap: 16px;
}
  
nav ul li {
    display: inline;
}
header h1 {
    font-size: 20px;
    margin: 0;
    color: #134542;
}
  
nav ul li a {
    text-decoration: none;
    color: #134542;
    padding: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
footer {
    background-color: #20c7ad;
    padding: 0%;
    border: 2px solid black;
}
nav ul li a:hover {
    color: #20c7ad;
}
header img {
    width: 42px;
    float: left;
}
.selected {
    color: #20c7ad;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-column {
    flex: 1;
    margin: 20px;
}
.footer-column h4 {
    margin-left: 20%;
}
.footer-column ul {
    list-style: none;
    padding: 0;
    margin-left: 20%;
}
.footer-column ul li {
    margin: 5px 0;
}
.footer-column ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    justify-items: right;
}
.footer-column ul li a:hover {
    text-decoration: underline;
}
.social-icons ul {
    list-style-type: none;
    justify-items: right;
}
.social-icons ul li {
    display: inline;
    margin-right: 16px;
}
.social-icons ul li img {
    width: 9%;
}
.footer-bottom {
    text-align: center;
}
  
header > .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}
  
#cookieConsent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #134542;
    color: white;
    width: 75%;
    max-width: 450px;
    padding: 1rem;
    border-radius: 7px;
    display: none;
    box-shadow: 3px 4px black;
}
#cookieConsent button {
    background-color: #20c7ad;
    color: #e6ecea;
    border: none;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    width: 40%;
    outline: 0;
    margin-top: 50px;
    box-shadow: 0 3px 3px black;
    cursor: pointer;
}
#cookieConsent button:hover {
    background-color: #134542;
}
  
* {
    box-sizing: border-box;
}
  
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.slides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: #134542;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #20c7ad;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
  
.active, .dot:hover{
    background-color: #134542;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from{
      opacity: .4;
    }
    to{
      opacity: 1;
    }
}


#row {
    padding: 0 4px;
    margin-left: 20%;
    margin-right: 20%;
    display: flexbox;
    width: 1000px;
}

#toppart {
  width: 1000px;
  height: 500px;
}

#botpart {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#topcolumn {
  display: inline-block;
  width: 45%;
  height: 345px;
  background:#20c7ae54;
  border-radius: 8px;
  overflow: hidden;
}

#topcolumn:hover{
  height: 500px;
  transition: height 0.5s;
  transition-timing-function: ease;
}

#topcolumn img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    padding: 5px;
    background: #134542;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

#botcolumn {
  display: inline-block;
  width: 20%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  background:#20c7ae54;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

#botcolumn:hover {
  height: 200px;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s;
}

#botcolumn img{
    display: block;
    margin-top: 6px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 8px;
    padding: 5px;
    background: #134542;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.emerald {
  color:forestgreen;
  font-weight: bold;
}